*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #e2e8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #94a3b8;
  padding: 1.2rem 2.4rem;
}

ul {
  display: flex;
  gap: 1.6rem;
}

a:hover {
  color: #f8f9fa;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.4rem;
  padding-bottom: 4px;
  border-bottom: 1px solid #333;
}

.container {
  background-color: #c5c2c2;
  min-width: 720px;
  width: 100%;
  min-height: 400px;
  display: flex;
  gap: 2.4rem;
  padding: 4.8rem;
  border-radius: 12px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/form.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form_container {
  display: flex;
}